#topPage{
    width: 100%;
    height: 10vh;
    text-align: center;
}

#middlePage{
    height: 20vh;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', Arial, sans-serif;
}
#title{
    font-size: 5vw;
    font-family: 'Trocchi';
    white-space: nowrap;
}

#wrapper{
    text-align: center;
}
body{
    background:#4cb8c4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4cb8c4, #3cd3ad); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4cb8c4, #3cd3ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}