<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Photo Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body scroll="no" style="overflow: hidden">
    <div id="container"></div>
        <div id="taskBar">
            <ul>
            <li><a href="/"><img src="../static/Home.png" class="childIm" id="home"></a></li>
            <li><a href="/"><img src="../static/Info.png" class="childIm" id="info"></a></li>
            <li><a href="https://github.com/elad205"><img src="../static/Github.png" class="childIm" id="git"></a></li>
            <li><img src="../static/photolifeWhite.png" id="logo" class="childIm"></li>
            </ul>
        </div>
        <div id="sep"></div>
        <div id="mainImage">
            <h1 id='title'><img src="../static/error.svg" id="midImage"></h1>
        </div>
            <div  id='middlePage'>
                    <span> An error accrued, please try again later</span>
            </div>
</body>
</html>