<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Photo Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id='topPage'>
        <h1 id='title'>Photo Life</h1>
        <div  id='middlePage'>
                <span> please submit a black and white picture</span>
                <p id='wrapper'>
                    <input type="file">
                </p>
        </div>
    </div>
</body>
</html>